# Environments
venv/
env/
.env
.venv
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / build
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp